.description-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  max-width: auto;
  margin: 20px auto;
}



.summary-content {
  flex: 1;

  h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
    color: #333;
    text-align: center;
  }
  div{
    font-size: 1.25rem;
  }
}
