<div class="description-card">
  
  <div class="summary-content">
    <h2>{{ "Multiple website summarizer"}}</h2><br>
    <div [innerHTML]="`
    <p> <strong>AI Web Summarizer</strong> transforms the way you browse and understand information online. Instead of reading through endless articles or web pages, simply paste your links and a keyword — and let the app do the work. In seconds, you’ll receive clear, well-structured summaries that highlight the most relevant points, helping you grasp the essence of any topic effortlessly. Whether you’re a student, researcher, or professional, <strong>AI Web Summarizer</strong> saves time, boosts productivity, and makes learning smarter and faster. </p>
  `"></div>
  </div>
</div>
